/* 共通 */
body {
    width:auto;
    margin:0 auto;
  }

.inline-block{
    display:inline-block;
}

  /* トップページ */

.toppage{
    text-align:center;
}

.top-font{
    font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
    font-size:4.5vw;
}

.top-string{
    margin-top:1vw;
}

#toUsers{
    margin:2vw 2vw;
    width:26vw;
    font-size:2.5vw;
}

#toReservations{
    margin:2vw 2vw;
    width:26vw;
    font-size:2.5vw;
}

#toStaffs{
    margin: 2vw 2vw;
    width: 26vw;
    font-size:2.5vw;
}

.img{
    width:70vw;
}

/* ナビゲーションバー */

.navbar{
    width:98vw;
    margin-bottom:2vw;
    padding:0.5vw 2vw;
}

.navbar-brand{
    font-size:3vw;
}

.navbar-toggler{
    padding:1vw 2vw;
    font-size:2vw;
}

.nav-item{
    font-size:2.5vw;
}

/* 顧客管理画面 */

#usersPage{
    text-align:center;
}

#usersTable{
    margin-top:2vw;
    margin-left:2vw;
}

.uTitles{
    border:solid 1px #aaa;
    text-align:center;
    background:#333;
    color:#fff;
    font-size:2vw;
    margin-top:1vw;
}

.uElements{
    border:solid 1px #aaa;
    text-align:center;
    font-size:2vw;
    height:3vh;
  }

.row-id{
    width:6vw;
    font-size:2vw;
    margin-left:1vw;
}

.row-name{
    width:23w;
    font-size:2.5vw;
}

.row-resist{
    width:18vw;
    font-size:2.5vw;
}

.row-cut{
    width:8vw;
    font-size:2.5vw;
}

.row-cut:hover{
    background-color:rgb(222, 231, 97);
    cursor:pointer;
}

.row-shampoo{
    width:10vw;
    font-size:2.5vw;
}

.row-shampoo:hover{
    background-color:rgb(222, 231, 97);
    cursor:pointer;
}

.row-color{
    width:8vw;
    font-size:2.5vw;
}

.row-color:hover{
    background-color:rgb(222, 231, 97);
    cursor:pointer;
}

.row-spa{
    width:8vw;
    font-size:2.5vw;
}

.row-spa:hover{
    background-color:rgb(222, 231, 97);
    cursor:pointer;
}

.row-nextrev{
    width:18vw;
    font-size:2.5vw;
}

/* 顧客情報カード */

.card-user{
    position:absolute;
    width:40vw;
    height:auto;
    text-align:left;
    border:1px solid #aaa;
    box-shadow:2px 2px 4px #888;
    font-size:2vw;
}

.card-header{
    padding:1vw;
    background-color:#09f;
    font-size:2vw;
}

.card-body{
    padding:0.5vw 2vw;
}

.form-group{
    margin:1vw 1vw;
}

.label_user{
    margin-bottom:0;
}

.name-input{
    width:32vw;
    height:4vw;
    font-size:2.5vw;
}

.time-input{
    width:14vw;
    height:4vw;
    font-size:2.5vw;
}

.menu-time{
    margin-right:3vw;
}

/* .form-control{
    padding:0.5vw 0.5vw;
} */

#usercard-button-area{
    margin:1vw 1vw;
}

.card-button{
    font-size:2vw;
    padding:1vw 1vw;
    width:14vw;
    margin:2vw 2vw;
}

.card-footer{
    padding:1vw 0;
    background-color:#aaa;
    font-size:2vw;
  }

.closeButton{
    width:30vw;
}

#close-form:hover{
    background-color:#333;
    cursor:pointer;
}
  
  #close-form:active{
    background-color:#333;
    cursor:pointer;
}

/* .custom-select{
    height:4vw;
    padding:0;
    background:#fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.5vw center/1vw 1vw;
} */

/* 予約ページ */
#reservationsPage{
    text-align:center;
    position:relative;
    z-index: 0;
}
#reservationTable{
    position:absolute;
    z-index: 1;
}
.table-header{
    width:12vw;
    height:4vw;
    background:rgb(69, 69, 173);
    color:white;
    text-align:center;
    border:solid 0.1vw white;
    font-size:1rem;
    left: 10%;
}

.button-area{
    position: relative;
}

.create-reservation{
    position: absolute;
    left: 0;
}

.card-reservation{
    position: absolute;
    z-index: 2;
    animation: SlideIn 1.2s;
}
  
/* CSSアニメーションの設定 */
@keyframes SlideIn {
0% {
    opacity: 0;/*初期状態では透明に*/
    transform: translateX(-50%);
}
100% {
    opacity: 1;
    transform: translateX(0);
}
}

.card-header-rsv{
    position:relative;
    height: 3rem;
    background: rgb(97, 178, 224);
}
.header-id{
    font-size:1rem;
    position:absolute;
    left: 45%;
    padding-top:0.7rem;
}
.close-icon{
    font-size:1.8rem;
    position:absolute;
    left: 85%;
    margin-top:0.2rem;
}
.close-icon:hover{
    cursor:pointer;
    background:rgb(27, 64, 145);
}

.div-rsv{
    margin-top:1rem;
}

.customer-input{
    width:70%;
}
.label-customer{
    width:30%;
    text-align:right;
}
.select-staff{
    width:70%;
}
.label-staff-rsv{
    width:30%;
    text-align: right;
}
.select-year{
    width:25%;
}
.select-month{
    width:15%;
}
.select-day{
    width:15%;
}
.menu-checkbox{
    text-align:left;
    margin-left: 1rem
}
.label-start-end{
    font-size: 0.8rem;
}
.select-sHour{
    width:15%;
}
.select-sMin{
    width:15%;
}
.select-eHour{
    width:15%;
}
.select-eMin{
    width:15%;
}
.button-rsv{
    width:40%;
    margin:0.3rem 1rem;
}

.card-footer-rsv{
    height: 3rem;
    background: rgb(97, 178, 224);
}

.table-element{
    width:12vw;
    height:4vw;
    border: solid 0.1vw rgb(128, 125, 125);
    font-size:0.7rem;
    text-align: left;
}

.reservation-data:hover{
    color:rgb(199, 42, 173);
    cursor: pointer;
}


/* スタッフ管理ページ */
#staffsPage{
    text-align:center;
}

.id-header{
    width: 5vw;
    background: rgb(69, 69, 173);
    color: white;
    border: 0.1vw solid white;
    font-size: 1.8vw;
}

.name-header{
    width: 15vw;
    background: rgb(69, 69, 173);
    color: white;
    border: 0.1vw solid white;
    font-size: 1.8vw;
}

.time-header{
    width: 4vw;
    background: rgb(69, 69, 173);
    color: white;
    border: 0.1vw solid white;
    font-size: 1.8vw;
}

.delete-header{
    width: 6vw;
    background: rgb(69, 69, 173);
    color: white;
    border: 0.1vw solid white;
    font-size: 1.8vw;
}

.tbody-id{
    width: 5vw;
    border: 0.1vw solid rgb(107, 106, 106);
    font-size: 1.8vw;
}

.tbody-name{
    width: 12vw;
    border: 0.1vw solid rgb(107, 106, 106);
    font-size: 1.8vw;
}

.tbody-shift{
    width: 4vw;
    border: 0.1vw solid rgb(107, 106, 106);
    font-size: 1.8vw;
}

.tbody-shift:hover{
    cursor: pointer;
    background:rgb(182, 179, 181);
}

.tbody-delete{
    width: 6vw;
    border: 0.1vw solid rgb(107, 106, 106);
    font-size: 1.8vw;
}

.delete-icon:hover{
    cursor: pointer;
    background: rgb(199, 95, 95)
}

.switching{
    font-size: 1.7vw;
    cursor: pointer;
    margin-right: 1.5vw;
    height:3.5vw;
}

.menu-button{
    font-size: 1.7vw;
    margin-right:1.5vw;
}

.date-display{
    font-size: 2.5vw;
    margin-right:1.5vw;
}

.label-staff{
    font-size: 1.8vw;
    margin-right:1vw;
}

.staff-input{
    font-size: 2vw;
    width: 20vw;
    height: 3vw;
    margin: 0.3vw 1vw;
}

.staff-input-area{
    text-align: left;
}

.post-button{
    font-size: 1.8vw;
    padding: 0.2vw 1vw;
}
.button-area{
    margin-bottom:1vw;
    margin-top:1vw;
}
.table-footer{
    border: 0.1vw solid rgb(107, 106, 106);
}