<!DOCTYPE html>
<html lang="ja">
<head>
    <%- include ("../partials/header.ejs") %>
</head>
<body>
    <%- include ("../partials/nav.ejs") %>
    <div id="indexPage" class="toppage">
        <img src="/massage.jpg" class="img">
        <div>
            <a type="button" class="btn btn-lg btn-outline-primary" id="toUsers" href="/users"><i class="fas fa-users"></i> 顧客情報</a>
        </div>
        <div>
            <a type="button" class="btn btn-lg btn-outline-primary" id="toReservations" href="/reservations"><i class="fas fa-book"></i></span> 予約管理</a>
        </div>
        <div>
            <a type="button" class="btn btn-lg btn-outline-primary" id="toStaffs" href="/staffs"><i class="fas fa-table"></i>スタッフ管理</a>
        </div>
    </div>

    <%- include ("../partials/footer.ejs") %>

    <!-- liffを使うためのCDN -->
    <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
    <script src='js/main.js'></script>

</body>
</html>