<!DOCTYPE html>
<html lang="ja">
<head>
    <%- include ("../partials/header.ejs") %>
</head>
<body>
    <%- include ("../partials/nav.ejs") %>

    <div id='reservationsPage'>
        <h1 class='top-font'>予約管理ページ</h1>
    </div>

    <%- include ("../partials/footer.ejs") %>
    <script src='js/reservations.js'></script>
</body>
</html>