<!DOCTYPE html>
<html lang="ja">
<head>
    <%- include ("../partials/header.ejs") %>
</head>
<body>
    <%- include ("../partials/nav.ejs") %>

    <div id='staffsPage'>
    </div>

    <%- include ("../partials/footer.ejs") %>
    <script src='js/staffs.js'></script>
</body>
</html>