<!DOCTYPE html>
<html lang="ja">
<head>
    <%- include ("../partials/header.ejs") %>
</head>
<body>
    <%- include ("../partials/nav.ejs") %>

    <div id='usersPage'>

    </div>

    <%- include ("../partials/footer.ejs") %>
    <script src='js/users.js'></script>
</body>
</html>